*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(BOTOLA.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo a {
    color: #fff;
    padding: 0px 20px;;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);

}
.logo span {
    color: rgb(238, 56, 11);
    font-weight: bold;
    font-size: 2rem;
}
.logo a img{
    width: 120px;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}
ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    background: #fff;
    color: #000;
}
ul li.active{
    background: #fff;
    color: #000;
}
.principal{
    max-width: 114rem;
    margin: 0 auto;
}
.card1{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 40px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 190px;
    background-image: url(ewc8t0ev.png);
    background-position: center;
    background-size: cover; 
}
.card2{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(7un92ydd.png);
    background-position: center;
    background-size: cover;
}
.card3{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(2015.jpg);
    background-position: center;
    background-size: cover; 
}
.card44{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 80px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(2017.jpg);
    background-position: center;
    background-size: cover;
}
.card4{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 330px;
    background-image: url(2019.jpg);
    background-position: center;
    background-size: cover;
}
.card5{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(2022.jpg);
    background-position: center;
    background-size: cover;
}
.card6{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(2023.jpeg);
    background-position: center;
    background-size: cover;
}
.card1:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;
}
.card2:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;
}
.card3:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;
}
.card44:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;
}
.card4:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;
}
.card5:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;   
}
.card6:hover{
    transform: scale(1.05);
    transition: ease-in 0.4;    
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
h5 a{
    color: #fff;
    text-shadow: 0 0 5px #999;
    text-decoration: none;
}
.col{
    flex-basis: 50%;
    display: inline-block;
}